<%- include('partials/header')%>

  <body>
    <div class="container-md rounded-2 mt-2">
      <div class="card">
        <div class="container-ava bg-light">
          <div class="item-up">
            <div class="ava">
              <a href="/users/upload"><img
                  src="<%= profil.avatar ? `/images/${profil.avatar}` : `../images/sampelpic.jpg` %>" alt="avatar"
                  class="avatar"></a>
              <h3>
                <%= profil.email%>
                  </3>
            </div>
            <div class="btn-out">
              <div class="position-relative">
                <a href="/logout">
                  <button type="button" class="btn btn-secondary"><i class="fa-solid fa-right-from-bracket"></i> Sign
                    out</button>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-header head-idx">
          <div class="head">
            <h1 class="text-center">PostgreSQL Breads(Browse, Read, Add, Delete, Sort)</h1>
          </div>
        </div>
        <div class="card-body">
          <form method="get">
            <div class="row mb-2">
              <input type="hidden" name="page" value="1">
              <input type="hidden" name="sortBy" value="id">
              <input type="hidden" name="sortMode" value="asc">
              <label for="title" class="col-sm-2 col-form-label">Title</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="title" name="title" placeholder="insert your title"
                  value="<%= query.title %>">
              </div>
            </div>
            <div class="row mb-1">
              <label for="startdate" class="col-sm-2 col-form-label">Deadline</label>
              <div class="col-sm-4">
                <input type="date" class="form-control" name="startdate" value="<%= query.startdate %>">
              </div>
              <label for="enddate" class="col-sm-2 col-form-label">
                <p class="into">s.d.</p>
              </label>
              <div class="col-sm-4">
                <input type="date" class="form-control" name="enddate" value="<%= query.enddate %>">
              </div>
            </div>
            <div class="row mb-2 list">
              <legend class="col-form-label col-sm-2 pt-0 left-comp">Complete</legend>
              <select class="form-select list-comp" aria-label="Default select example" name="complete">
                <option value="">--Select Complete--</option>
                <option value="false" <%= query.complete == 'false' ? 'selected' : '' %>>Note Yet</option>
                <option value="true" <%= query.complete == 'true' ? 'selected' : '' %>>Done</option>
              </select>
            </div>
            <div class="op">
              <fieldset class="row mb-3">
                <legend class="col-form-label col-sm-2 pt-0">Operation</legend>
                <div class="col-sm-10 rad-list">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="operator" id="or" value="OR" <% if
                      (query.operator !=='AND' ) { %> checked <% } %>>
                      <label class="form-check-label" for="or">
                        OR
                      </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="operator" id="and" value="AND" <% if
                      (query.operator=='AND' ) { %> checked <% } %>>
                      <label class="form-check-label" for="and">
                        AND
                      </label>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="btn-group-search">
              <div class="formBtm">
                <button class="btn btn-primary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                <a href="/users">
                  <button class="btn btn-warning" type="button"><i class="fa-solid fa-arrows-rotate"></i></button>
                </a>
              </div>
            </div>
          </form>
          <div class="line"></div>
        </div>
        <div class="tab-list"> 
          <table class="table table-striped">
            <thead>
              <tr>
                <th>No.</th>
                <th><a href="/users<%= url.replace(`sortBy=${sortBy}`, 'sortBy=title').replace(`sortMode=${sortMode}`, `sortMode=${sortMode == 'asc' ? 'desc' : 'asc'}`) %>" style="color: black;"><i class="fa-solid fa-<%= sortBy == 'title' ? sortMode == 'asc' ? 'sort-up' : 'sort-down' : 'sort' %>"></i> Title</a></th>
                <th><a href="/users<%= url.replace(`sortBy=${sortBy}`, 'sortBy=complete').replace(`sortMode=${sortMode}`, `sortMode=${sortMode == 'asc' ? 'desc' : 'asc'}`) %>" style="color: black;"><i class="fa-solid fa-<%= sortBy == 'complete' ? sortMode == 'asc' ? 'sort-up' : 'sort-down' : 'sort' %>"></i> Complete</a></th>
                <th><a href="/users<%= url.replace(`sortBy=${sortBy}`, 'sortBy=deadline').replace(`sortMode=${sortMode}`, `sortMode=${sortMode == 'asc' ? 'desc' : 'asc'}`) %>" style="color: black;"><i class="fa-solid fa-<%= sortBy == 'complete' ? sortMode == 'asc' ? 'sort-up' : 'sort-down' : 'sort' %>"></i> Deadline</a></th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% data.forEach((item,index)=>{ %>
                <%if(new Date(`${item.deadline}`)< new Date()&& !item.complete){ %>
                  <tr>
                    <td style="background-color: #F75352; color: white;">
                      <%= index +1 + offset%>
                    </td>
                    <td style="background-color: #F75352; color: white;">
                      <%= item.title %>
                    </td>
                    <td style="background-color: #F75352; color: white;">
                      <%= item.complete ? "Done" : "Not Yet" %>
                    </td>
                    <td style="background-color: #F75352; color: white;">
                      <%= moment(item.deadline).format(" DD MMM YYYY HH:mm")%>
                    </td>
                    <td style="background-color: #F75352; color: white;">
                      <a href="/users/edit/<%= item.id%> " class="btn btn-success update"><i
                          class="fa-solid fa-pencil"></i></a>&nbsp <a href="/users/delete/<%= item.id%>"
                        class="btn btn-danger delete" onclick="return on(`<%= item.id%>`, `<%= item.title%>` )"><i
                          class="fa-solid fa-trash"></i></a>

                    </td>

                  </tr>
                  <%} else {%>
                    <tr>
                      <td>
                        <%= index +1 + offset%>
                      </td>
                      <td>
                        <%= item.title %>
                      </td>
                      <td>
                        <%= item.complete ? "Done" : "Not Yet" %>
                      </td>
                      <td>
                        <%= moment(item.deadline).format(" DD MMM YYYY HH:mm")%>
                      </td>
                      <td>
                        <a href="/users/edit/<%= item.id%> " class="btn btn-success"><i
                            class="fa-solid fa-pencil"></i></a>&nbsp
                        <a href="/users/delete/<%= item.id%>" class="btn btn-danger"
                          onclick="return on(`<%= item.id%>` , `<%= item.title%>`)"><i
                            class="fa-solid fa-trash"></i></a>
                      </td>
                    </tr>
                    <% }}) %>
            </tbody>
          </table>
        </div>
        <div class="card-footer footer">
          <a href="/users/add">
            <button class="btn btn-primary" type="button"><i class="fa-solid fa-plus"></i></button>
          </a>
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <% if (page == '1') { %>
                <a class="page-link" href="/users<%= url.replace(`page=${page}`, `page=${page}`) %>" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
                <% } else { %>
                  <a class="page-link" href="/users<%= url.replace(`page=${page}`, `page=${page - 1}`) %>" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                  <% } %>
              </li>
              <% for (let i=1; i <=pages; i++) { %>
                <li class="page-item <%= page == i ? 'active' : '' %>">
                  <a class="page-link" href="/users<%= url.replace(`page=${page}`, `page=${i}`)  %>">
                    <%= i %>
                  </a>
                </li>
                <% } %>
                  <li class="page-item">
                    <% if (page == pages) { %>
                    <a class="page-link" href="/users<%= url.replace(`page=${page}`, `page=${page}`)%>"
                      aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                    <% } else { %>
                      <a class="page-link" href="/users<%= url.replace(`page=${page}`, `page=${(page * 1) + 1}`)%>"
                        aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                      <% } %>
                  </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    </div>
    <%- include('partials/delete-confirm')%>
  </body>
  <%- include('partials/footer')%>